### read_csv параметры
header = None — загрузить без строки с заголовком;

skiprows = n — пропустить n строк (часто у документов бывает техническая «шапка» или заголовки);

encoding — загрузить в конкретной кодировке;

na_values — список значений, который нужно заменить на NaN (специальный объект, обозначающий пропущенное значение).

In [3]:
import pandas as pd
ratings = pd.read_csv('ratings.csv')
movies = pd.read_csv('movies.csv')

joined = pd.merge(movies, ratings, on='movieId', how='left')
joined.head()

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1.0,4.0,9.649827e+08
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5.0,4.0,8.474350e+08
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7.0,4.5,1.106636e+09
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15.0,2.5,1.510578e+09
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17.0,4.5,1.305696e+09

In [4]:
joined[joined.rating>4] #фильтрация по условию

,movieId,title,genres,userId,rating,timestamp
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7.0,4.5,1.106636e+09
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17.0,4.5,1.305696e+09
9,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,31.0,5.0,8.504666e+08
12,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,40.0,5.0,8.320590e+08
13,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,43.0,5.0,8.489940e+08
...,...,...,...,...,...,...
100820,187717,Won't You Be My Neighbor? (2018),Documentary,462.0,5.0,1.529414e+09
100821,188189,Sorry to Bother You (2018),Comedy|Fantasy|Sci-Fi,462.0,4.5,1.533519e+09
100826,188751,Mamma Mia: Here We Go Again! (2018),Comedy|Romance,212.0,4.5,1.532362e+09
100828,188833,The Man Who Killed Don Quixote (2018),Adventure|Comedy|Fantasy,318.0,4.5,1.535036e+09
100843,191005,Gintama (2017),Action|Adventure|Comedy|Sci-Fi,184.0,4.5,1.537109e+09

In [7]:
joined[(joined.movieId>4) & ("Drama" == joined.genres)] # комбинированные условия

,movieId,title,genres,userId,rating,timestamp
842,14,Nixon (1995),Drama,84.0,4.0,8.576533e+08
843,14,Nixon (1995),Drama,90.0,5.0,8.563541e+08
844,14,Nixon (1995),Drama,109.0,4.0,8.411093e+08
845,14,Nixon (1995),Drama,182.0,4.0,1.063290e+09
846,14,Nixon (1995),Drama,206.0,4.0,8.507634e+08
...,...,...,...,...,...,...
100725,180985,The Greatest Showman (2017),Drama,567.0,1.0,1.525285e+09
100744,182793,The Purple Sea (2009),Drama,596.0,3.5,1.535833e+09
100839,190213,John From (2015),Drama,338.0,1.0,1.530148e+09
100840,190215,Liquid Truth (2017),Drama,338.0,1.5,1.530148e+09
100851,193585,Flint (2017),Drama,184.0,3.5,1.537110e+09