In [1]:
import pandas as pd

ratings = pd.read_csv('ratings.csv')
movies = pd.read_csv('movies.csv')

joined = ratings.merge(movies, on='movieId', how='left')
joined.head()

,userId,movieId,rating,timestamp,title,genres
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,3,4.0,964981247,Grumpier Old Men (1995),Comedy|Romance
2,1,6,4.0,964982224,Heat (1995),Action|Crime|Thriller
3,1,47,5.0,964983815,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
4,1,50,5.0,964982931,"Usual Suspects, The (1995)",Crime|Mystery|Thriller

In [4]:
joined.query('movieId > 30')

,userId,movieId,rating,timestamp,title,genres
3,1,47,5.0,964983815,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
4,1,50,5.0,964982931,"Usual Suspects, The (1995)",Crime|Mystery|Thriller
5,1,70,3.0,964982400,From Dusk Till Dawn (1996),Action|Comedy|Horror|Thriller
6,1,101,5.0,964980868,Bottle Rocket (1996),Adventure|Comedy|Crime|Romance
7,1,110,4.0,964982176,Braveheart (1995),Action|Drama|War
...,...,...,...,...,...,...
100831,610,166534,4.0,1493848402,Split (2017),Drama|Horror|Thriller
100832,610,168248,5.0,1493850091,John Wick: Chapter Two (2017),Action|Crime|Thriller
100833,610,168250,5.0,1494273047,Get Out (2017),Horror
100834,610,168252,5.0,1493846352,Logan (2017),Action|Sci-Fi
100835,610,170875,3.0,1493846415,The Fate of the Furious (2017),Action|Crime|Drama|Thriller

In [5]:
joined.query('rating == 0.5')

,userId,movieId,rating,timestamp,title,genres
261,3,31,0.5,1306463578,Dangerous Minds (1995),Drama
262,3,527,0.5,1306464275,Schindler's List (1993),Drama|War
263,3,647,0.5,1306463619,Courage Under Fire (1996),Action|Crime|Drama|War
264,3,688,0.5,1306464228,Operation Dumbo Drop (1995),Action|Adventure|Comedy|War
265,3,720,0.5,1306463595,Wallace & Gromit: The Best of Aardman Animatio...,Adventure|Animation|Comedy
...,...,...,...,...,...,...
99394,608,6827,0.5,1117519648,It's Pat (1994),Comedy
99408,608,7004,0.5,1117506252,Kindergarten Cop (1990),Action|Comedy|Crime|Thriller
100345,610,61818,0.5,1493848943,"Crow, The: Wicked Prayer (2005)",Action|Adventure|Fantasy|Thriller
100415,610,72424,0.5,1493849030,Derailed (2002),Action|Thriller
100797,610,145951,0.5,1493849019,Bloodsport: The Dark Kumite (1999),Action|Thriller

In [16]:
joined.query("'Action' in genres & rating == 0.5")

,userId,movieId,rating,timestamp,title,genres
45257,298,79553,0.5,1447517595,Ip Man 2 (2010),Action
61027,396,204,0.5,1111688575,Under Siege 2: Dark Territory (1995),Action
69057,448,2534,0.5,1492286211,Avalanche (1978),Action
94390,599,26696,0.5,1498502828,Lionheart (1990),Action