In [2]:
import pandas as pd

ratings = pd.read_csv('ratings.csv')
movies = pd.read_csv('movies.csv')

joined = ratings.merge(movies, on='movieId', how='left')
joined.head()

,userId,movieId,rating,timestamp,title,genres
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,3,4.0,964981247,Grumpier Old Men (1995),Comedy|Romance
2,1,6,4.0,964982224,Heat (1995),Action|Crime|Thriller
3,1,47,5.0,964983815,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
4,1,50,5.0,964982931,"Usual Suspects, The (1995)",Crime|Mystery|Thriller

In [5]:
joined.genres.str.match("Comedy")

0         False
1          True
2         False
3         False
4         False
          ...
100831    False
100832    False
100833    False
100834    False
100835    False
Name: genres, Length: 100836, dtype: bool

In [6]:
joined.genres.str.contains("Comedy")

0          True
1          True
2         False
3         False
4         False
          ...
100831    False
100832    False
100833    False
100834    False
100835    False
Name: genres, Length: 100836, dtype: bool

In [9]:
joined[joined.genres.str.contains("Comedy")]

,userId,movieId,rating,timestamp,title,genres
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,3,4.0,964981247,Grumpier Old Men (1995),Comedy|Romance
5,1,70,3.0,964982400,From Dusk Till Dawn (1996),Action|Comedy|Horror|Thriller
6,1,101,5.0,964980868,Bottle Rocket (1996),Adventure|Comedy|Crime|Romance
9,1,157,5.0,964984100,Canadian Bacon (1995),Comedy|War
...,...,...,...,...,...,...
100813,610,157296,4.0,1493846563,Finding Dory (2016),Adventure|Animation|Comedy
100815,610,158721,3.5,1479542491,Gen-X Cops (1999),Action|Comedy|Thriller
100816,610,158872,3.5,1493848024,Sausage Party (2016),Animation|Comedy
100818,610,159093,3.0,1493847704,Now You See Me 2 (2016),Action|Comedy|Thriller
100819,610,160080,3.0,1493848031,Ghostbusters (2016),Action|Comedy|Horror|Sci-Fi

In [10]:
joined[joined.title.str.contains("Toy")]

,userId,movieId,rating,timestamp,title,genres
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
143,1,2253,2.0,964981775,Toys (1992),Comedy|Fantasy
516,5,1,4.0,847434962,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
874,7,1,4.5,1106635946,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
927,7,3114,4.5,1106635500,Toy Story 2 (1999),Adventure|Animation|Children|Comedy|Fantasy
...,...,...,...,...,...,...
99121,608,3114,2.5,1117504405,Toy Story 2 (1999),Adventure|Animation|Children|Comedy|Fantasy
99497,609,1,3.0,847221025,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
99534,610,1,5.0,1479542900,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
99709,610,3114,5.0,1479542923,Toy Story 2 (1999),Adventure|Animation|Children|Comedy|Fantasy
100447,610,78499,5.0,1493846463,Toy Story 3 (2010),Adventure|Animation|Children|Comedy|Fantasy|IMAX

In [12]:
joined[joined.title.str.match("Toy")]

,userId,movieId,rating,timestamp,title,genres
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
143,1,2253,2.0,964981775,Toys (1992),Comedy|Fantasy
516,5,1,4.0,847434962,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
874,7,1,4.5,1106635946,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
927,7,3114,4.5,1106635500,Toy Story 2 (1999),Adventure|Animation|Children|Comedy|Fantasy
...,...,...,...,...,...,...
99121,608,3114,2.5,1117504405,Toy Story 2 (1999),Adventure|Animation|Children|Comedy|Fantasy
99497,609,1,3.0,847221025,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
99534,610,1,5.0,1479542900,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
99709,610,3114,5.0,1479542923,Toy Story 2 (1999),Adventure|Animation|Children|Comedy|Fantasy
100447,610,78499,5.0,1493846463,Toy Story 3 (2010),Adventure|Animation|Children|Comedy|Fantasy|IMAX

In [16]:
movies.isna().sum()

movieId    0
title      0
genres     0
dtype: int64

In [19]:
movies.dropna() #Удаляет данные с пропусками

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [3]:
#заполнение пропусков некоторыми данными fillna() - заполнение константой
ratings["rating"].fillna(0)

0         4.0
1         4.0
2         4.0
3         5.0
4         5.0
         ...
100831    4.0
100832    5.0
100833    5.0
100834    5.0
100835    3.0
Name: rating, Length: 100836, dtype: float64

In [6]:
import pandas as pd
ratings = pd.read_csv('http://ai-academy.ru/upload/csv/ratings_mini.csv')
movies = pd.read_csv('http://ai-academy.ru/upload/csv/movies_mini.csv')

joinedN = ratings.merge(movies, on='movieId', how='left')
joinedN.head()

,userId,movieId,rating,timestamp,title,genres
0,14,4,3.0,835441653,Waiting to Exhale (1995),Comedy|Drama|Romance
1,14,7,3.0,835441989,Sabrina (1995),Comedy|Romance
2,14,19,1.0,835441168,Ace Ventura: When Nature Calls (1995),Comedy
3,219,6,3.5,1198783144,Heat (1995),Action|Crime|Thriller
4,219,10,4.5,1194932162,GoldenEye (1995),Action|Adventure|Thriller

In [19]:
man_movie = joinedN[joinedN.title.str.contains("man")]
best = joinedN.query("rating > 4.0").movieId.count()
print(best)
#print(best, man_movie)

13