In [1]:
import pandas as pd
football = pd.read_csv("football.csv")
display(football.head())

,Unnamed: 0,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
0,0,L. Messi,31,Argentina,FC Barcelona,110500000,565000,RF,84,95,...,75,96,33,28,26,6,11,15,14,8
1,1,Cristiano Ronaldo,33,Portugal,Juventus,77000000,405000,ST,84,94,...,85,95,28,31,23,7,11,15,14,11
2,2,Neymar Jr,26,Brazil,Paris Saint-Germain,118500000,290000,LW,79,87,...,81,94,27,24,33,9,9,15,15,11
3,3,De Gea,27,Spain,Manchester United,72000000,260000,GK,17,13,...,40,68,15,21,13,90,85,87,88,94
4,4,K. De Bruyne,27,Belgium,Manchester City,102000000,355000,RCM,93,82,...,79,88,68,58,51,15,13,5,10,13

In [2]:
football[football.Age >20]

,Unnamed: 0,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
0,0,L. Messi,31,Argentina,FC Barcelona,110500000,565000,RF,84,95,...,75,96,33,28,26,6,11,15,14,8
1,1,Cristiano Ronaldo,33,Portugal,Juventus,77000000,405000,ST,84,94,...,85,95,28,31,23,7,11,15,14,11
2,2,Neymar Jr,26,Brazil,Paris Saint-Germain,118500000,290000,LW,79,87,...,81,94,27,24,33,9,9,15,15,11
3,3,De Gea,27,Spain,Manchester United,72000000,260000,GK,17,13,...,40,68,15,21,13,90,85,87,88,94
4,4,K. De Bruyne,27,Belgium,Manchester City,102000000,355000,RCM,93,82,...,79,88,68,58,51,15,13,5,10,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12838,13067,D. Mackay,21,Scotland,Kilmarnock,30000,1000,GK,14,20,...,24,30,12,18,18,48,50,47,48,48
12857,13086,Wu Lei,21,China PR,Tianjin Quanjian FC,9000000,2000,LDM,52,29,...,46,39,52,40,49,8,15,11,8,5
12861,13090,Y. Uchimura,33,Japan,Hokkaido Consadole Sapporo,20000,1000,CAM,51,31,...,33,62,45,48,42,13,15,7,15,15
12870,13099,M. Hurst,22,Scotland,St. Johnstone FC,40000,1000,GK,19,15,...,29,28,12,15,16,45,49,50,50,45
12873,13102,K. Pilkington,44,England,Cambridge United,0,1000,GK,11,12,...,22,56,15,15,13,45,48,44,49,46

In [3]:
football[football.Age >football.Age.mean()]

,Unnamed: 0,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
0,0,L. Messi,31,Argentina,FC Barcelona,110500000,565000,RF,84,95,...,75,96,33,28,26,6,11,15,14,8
1,1,Cristiano Ronaldo,33,Portugal,Juventus,77000000,405000,ST,84,94,...,85,95,28,31,23,7,11,15,14,11
2,2,Neymar Jr,26,Brazil,Paris Saint-Germain,118500000,290000,LW,79,87,...,81,94,27,24,33,9,9,15,15,11
3,3,De Gea,27,Spain,Manchester United,72000000,260000,GK,17,13,...,40,68,15,21,13,90,85,87,88,94
4,4,K. De Bruyne,27,Belgium,Manchester City,102000000,355000,RCM,93,82,...,79,88,68,58,51,15,13,5,10,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12746,12975,Teng Shangkun,27,China PR,Tianjin TEDA FC,20000,1000,GK,10,8,...,17,58,28,10,13,46,56,55,45,53
12749,12978,M. Mansour,26,Saudi Arabia,Al Batin,30000,2000,LB,36,18,...,33,37,45,54,54,10,8,6,13,13
12767,12996,Sun Qibin,26,China PR,Tianjin Quanjian FC,20000,2000,GK,14,7,...,12,30,46,11,10,50,46,51,48,50
12861,13090,Y. Uchimura,33,Japan,Hokkaido Consadole Sapporo,20000,1000,CAM,51,31,...,33,62,45,48,42,13,15,7,15,15
12873,13102,K. Pilkington,44,England,Cambridge United,0,1000,GK,11,12,...,22,56,15,15,13,45,48,44,49,46

In [6]:
football[(football.Age < football.Age.mean()) &
        (football.Club == 'FC Barcelona')]

,Unnamed: 0,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
42,42,S. Umtiti,24,France,FC Barcelona,57000000,205000,CB,69,51,...,61,82,90,89,86,15,10,14,12,15
141,141,O. Dembélé,21,France,FC Barcelona,40000000,155000,RW,78,78,...,75,75,42,30,33,6,6,14,10,13
190,190,Arthur,21,Brazil,FC Barcelona,32500000,125000,LCM,70,72,...,69,84,65,76,70,6,13,13,11,12
195,195,C. Lenglet,23,France,FC Barcelona,26000000,135000,LCB,36,23,...,43,74,85,82,81,10,10,9,12,7
235,235,Nélson Semedo,24,Portugal,FC Barcelona,20000000,125000,RB,74,50,...,38,75,75,78,79,16,12,10,14,12
1464,1515,Aleñá,20,Spain,FC Barcelona,6000000,58000,CM,66,66,...,73,70,70,62,48,12,9,10,8,12
5377,5539,Chumi,19,Spain,FC Barcelona,1000000,11000,CB,38,30,...,50,62,70,65,63,7,14,9,11,14
5613,5777,Jorge Cuenca,18,Spain,FC Barcelona,850000,11000,CB,40,27,...,44,57,62,66,63,10,12,5,14,12
6124,6293,Guillem Jaime,19,Spain,FC Barcelona,975000,13000,RW,63,54,...,49,66,52,55,56,9,11,12,10,6
7312,7493,Ezkieta,21,Spain,FC Barcelona,525000,10000,GK,16,12,...,24,33,13,17,15,65,58,59,59,64
9028,9226,Iñaki Peña,19,Spain,FC Barcelona,450000,4000,GK,10,6,...,17,38,9,10,11,63,57,64,57,62

In [7]:
football[(football.Age <football.Age.mean()) & 
        (football.Club == 'FC Barcelona')].Wage.mean()

np.float64(77454.54545454546)

In [27]:
# Вычисляем среднюю зарплату
average_wage = football['Wage'].mean()

# Фильтруем футболистов с зарплатой выше средней
filtered_football = football[football['Wage'] > average_wage]

# Находим среднюю скорость для отфильтрованных данных
average_sprint_speed = filtered_football['SprintSpeed'].mean()
print(round(average_sprint_speed,2))

67.57

In [28]:
# Вычисляем среднюю зарплату
average_wage = football['Wage'].mean()

# Фильтруем футболистов с зарплатой выше средней
filtered_football = football[football['Wage'] < average_wage]

# Находим среднюю скорость для отфильтрованных данных
average_sprint_speed = filtered_football['SprintSpeed'].mean()
print(round(average_sprint_speed,2))

62.41

In [29]:
max_composure = football['Composure'].max()
max_reactions = football['Reactions'].max()

# Фильтруем игроков и находим самого молодого
youngest_player_age = football.loc[
    (football['Composure'] > 0.9 * max_composure) & 
    (football['Reactions'] > 0.9 * max_reactions),
    'Age'
].min()

print(youngest_player_age)

24

In [33]:
football[(football.Composure> football.Composure.max()*0.9) &
        (football.Reactions > football.Reactions.max()*0.9)].Age.min()

np.int64(24)

In [45]:
football[(football.Value>football.Value.mean())].Nationality.value_counts().idxmax()

'Spain'

In [53]:
speedH = round(football[football.Wage> football.Wage.mean()].SprintSpeed.mean())
speedL = round(football[football.Wage< football.Wage.mean()].SprintSpeed.mean())
age = round(football[(football.Composure > football.Composure.max() * 0.9) &
            (football.Reactions > football.Reactions.max() * 0.9 )].Age.min())
n = football[football.Wage > football.Wage.mean()].Nationality.value_counts().idxmax()
print(speedH, speedL, age, n)

68 62 24 Spain

In [54]:
football = pd.read_csv('http://ai-academy.ru/upload/csv/football_mini.csv')
speedH =football[football.Wage > football.Wage.mean()].SprintSpeed.mean()
speedH = round(speedH)
speedL = football[football.Wage < football.Wage.mean()].SprintSpeed.mean()
speedL = round(speedL)
age = football[(football.Composure>football.Composure.max()*0.9)&(football.Reactions>football.Reactions.max()*0.9)].Age.min()
n = football[football.Wage>football.Wage.mean()].Nationality.describe().top
print(speedH,speedL,age,n)

75 72 24 Spain